body{
    padding: 5px;
}

.main-header{
    font-size: 48px;
    color: #3b3a30;
    text-align: center;
    padding: 10px;
    background-color: #e0e0e0;
    border: 5px solid #3b3a30;
}

.simple-header{
    font-size: 50px;
    text-align: left;
    margin: 10px;
}

.parent{
    text-align: left;
}

.element{
    margin: 5px;

}

label{
    margin: 4px;
}

input {
    padding: 4px;
    margin: 4px;
    display: inline-block;
}

select {
    padding: 4px;
}

.note{
    color:black;
    opacity: 0.5;
    font-size: 16px;
    font-style:italic;
}

.postMsg{
    color: rgb(0, 255, 0);
    opacity: 0.6;
    padding: 8px;
    background-color: rgb(0, 92, 0);
    display: none;
}

.showRes{
    padding: 8px;
    opacity: 0.6;
    background-color: rgb(182, 182, 182);
    display: none;
}

.delMsg{
    padding: 8px;
    opacity: 0.6;
    background-color: rgb(255, 188, 63);
    display: none;
}

.updMsg{
    padding: 8px;
    opacity: 0.6;
    background-color: rgb(76, 195, 228);
    display: none;
}

.redirectMsg{
    padding: 10px;
    margin: 10px 1535px 20px 10px;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 128, 128);
    display: none;
}

.back-form{
    display: inline-block;
}

.welcome{
    padding: 8px;
    color:black;
    background-color: rgb(141, 141, 141);
    margin: auto 90% auto auto;
}

.div1{
    overflow: auto; 
}

.div2{
    margin: 5px;
    float: left;
}

.div3{
    margin-top: 125px;
    float: left;
}

.div4{
    display: none;
    margin: 8px;
}

.ppic{
    margin: 10px;
    width: 400px;
    height: 400px;
    float: left;
    border: 3px solid black;
}

.username{
    font-size: 140%;
}

.m-p-button{
    margin-left: 20%;
}

.thumbnail{
    width: 150px;
    height: 150px;
}

.link-btn{
    font-size: 16px;
    padding: 18px;
    background-color:#c4e0db;
    border: 4px solid #649595;
    font-weight: bold;
    display: inline-block;
}

.link-btn:hover{
    background-color: #649595;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.divFilter, .divPost, .divDelete, .divUpdate{
    display: none
}

.btn-span{
    font-size: 40px;
    background-color: #eaece5;
    padding: 7px 14px 7px 14px;
    border: 4px solid #3b3a30;
}

.btn-span:hover{
    color: #eaece5;
    background-color: #3b3a30;
}

.full-body-div{
    border: 1px solid black;
    background-color:rgb(250, 250, 250);
    padding: 15px 25px;
    margin: 0 28%;
    text-align: center;
}

.post-parent-div{
    display: inline-block;
}

.post-inner-div{
    margin: 0px;
    float: left;
    cursor: pointer;
}

.post-img{
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    margin: 0 10px;
}

.post-title{
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    margin: 5px;
    text-overflow: ellipsis;
}

.post-price{
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    margin-bottom: 20px;
    text-overflow: ellipsis;
}

#post-title-create{
    width: 400px;
}

#post-body-create{
    width: 400px;
    height: 150px;
    resize: none;
}

ul{
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li{
    float: left;
}

.nav-item{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.nav-item:hover{
    background-color: #111;
}

.full-img{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    float: left;
}

.detailed-product-title{
    text-align: center;
    margin: 0px 250px;
    font-weight: bold;
    font-size: 28px;
}

.detailed-price{
    font-size: 32px;
    text-align: center;
}

.detailed-seller{
    font-size: 20px;
    text-align: center;
}

.detailed-description-div{
    margin: 5px;
}

.detailed-description-text{
    text-align: left;
    resize: none;
}

.comment-user-img{
    height: 60px;
    width: 60px;
    border: 1px solid black;
    float: left;
}

.comment{
    overflow: auto;
    margin: 20px 5px;
}

.comment-body{
    margin: 0px 10px;
    float: left;
    display: block;
}

.comment-username{
    display: block;
    float: left;
    margin: 0px 10px;
    font-weight: bold;
}

.comment-date{
    display: block;
    float: left;
    margin: 0px 25px;
    opacity: 50%;
    font-size: 14px;
}

.addCommentText{
    resize: none;
}